{% comment %}
Copyright 2016 Mattia Basaglia

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load charts %}
{% load mldb %}

<figure>
    <figcaption>Character Lines</figcaption>
    <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="600" height="300"
        viewBox="-6 -6 612 312" class="line_chart">
        {% line_chart episode_data 600 300 r=4 class_prefix="character_" %}
    </svg>
</figure>
<p>{{ character.name }} spoke a total of
{{ line_count }} line{{ line_count|pluralize }} in
{{ episodes|length }} episode{{ episodes|length|pluralize }}:</p>
<ul>
{% for episode in episodes %}
    <li>
        {% episode_link episode %}
        (<a href='{% url "search" %}?episode={{ episode.formatted_id }}&amp;character={{ character.name }}'
            >{{ episode.n_lines }} line{{ episode.n_lines|pluralize }}</a>)
    </li>
{% endfor %}
</ul>
