{% comment %}
Copyright 2016 Mattia Basaglia

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load simple_page %}
{% load charts %}

<figure>
    <figcaption>Individual Character Trends</figcaption>
    <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="600" height="300"
        viewBox="-6 -6 612 312"
        class="line_chart">
        {% line_chart trends_data.transposed_view 600 300 r=4 class_prefix="character_" %}
    </svg>
</figure>
<figure>
    <figcaption>Total lines</figcaption>
    <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="600" height="300"
        viewBox="-6 -6 612 312"
        class="stacked_line_chart">
        {% stacked_line_chart trends_data.transposed_view 600 300 False r=4 class_prefix="character_" %}
    </svg>
</figure>
<figure>
    <figcaption>Characters Per Episode</figcaption>
    <svg xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="600" height="300"
        viewBox="-6 -6 612 312"
        class="stacked_line_chart">
        {% stacked_line_chart trends_data.transposed_view 600 300 True r=4 class_prefix="character_" %}
    </svg>
</figure>
