{% comment %}
Copyright 2016 Mattia Basaglia

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load simple_page %}
<section>
<header>{% section h2 %}Search{% endsection %}</header>
<form>
{{ form }}
<input type="submit" value="Search" />
</form>
</section>

{% if results != None %}
    <section class="search_results">
    <header>{% section h2 %}Results{% endsection %}</header>
    {% if results %}
        <ul>
        {% for line in results %}
            <li><a href="{% url "episode" line.episode.season line.episode.number %}#line-{{ line.order }}">{{ line }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results.</p>
    {% endif %}
    </section>
{% endif %}
